<html>

<head>

<title>technex</title>
</head>

<body>
	<h1>Categories</h1>
	{% for c in categories %}
	<li><a href="/blog/category/{{c.slug}}/">{{c.category_title}}</a></li>
	{% endfor %}

	<br/>
	<br/>
	<h1>Posts</h1>
	{% for p in posts %}
	{{p.post_title}}<br/>
    <img src="{{p.image.url}}"/>
	{{p.timestamp}}<br/>
	{{p.author}}<br/>
	{{p.post_content_short}}...<br/><br/><br/>
	{% endfor %}
	<br/><br/><br/>
    
    <h1>Recent Posts</h1>
	{% for p in latest_post_list %}
	<a href="/blog/{{p.slug}}/">{{p.post_title}}</a><br/>
	{% endfor %}
</body>
</html>

